.card {
    display: flex;
    flex-direction: column;
    max-height: calc(70vh);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* box-shadow: 0 0 5px 5px green; */

    overflow: hidden;
    box-shadow: 0 0 10px green;


}

.cardLeft {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: green;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 20px;
    padding-bottom: 30px;

    border-bottom: 1px solid green;

    background-color: #ecf6ec;
}

.cardLeft .logoBox {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardLeft .logo {
    width: 100%;
}
.cardLeft span {
    font-size: 1.2em;
}

.cardRight {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2em 3em;

}

.greeting {
    color: green;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    font-weight: bold;
    width: 70px;
    background-color: black;
    margin: auto;
    margin-bottom: 20px;

}

.line {
    height: 1px;
    border-top: 1px solid green;
    width: 100%;

    position: relative;
    top: 30px;
    z-index: -1;
    box-shadow: 0 0 5px green;
}

.greeting .greetingIcon {
    color: green;
}

form {
    padding: 0px;
}
.inputBox {
    display: flex;
    flex-direction: column;
}
.inputBox {
    margin-bottom: 0.5em;
}

.inputBox .inputBoxInt {
    display: flex;
    
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px green;
    background-color: rgb(0, 21, 0);
}


.inputIcon {
    color: green;
}

.eyeIcon {
    color: green;
    cursor: pointer;
}

.inputBox input {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    width: 15em;
}
.inputBox input:focus {
    outline: none;
    
}

.buttonsBox {
    display: flex;
}

.buttonsBox span {
    color: black;
    margin-left: 20px;

    transition: color 0.3s ease-in-out;
}

.buttonsBox :global(.show) {
    color: rgb(247, 104, 104);
}


form .button {
    all: unset;
    cursor: pointer;
    display: inline;
    
    background-color: #02B1C8;
    padding: 3px 20px;

    border-radius: 3px;
    box-shadow: 0 0 5px white;
    
}

.errorBox {
    display: flex;

    color: black;
    
}
.hasError {
    color: rgb(247, 104, 104);
}
.errorText {
    
    font-size: 0.7em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {
        flex-direction: row;
        max-height: calc(30vh);
    }
    .cardLeft {
        border: none;
        border-right: 1px solid green;
        padding-bottom: 0px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {

}